.add-input {
	padding: 2.56% 5% 2.56% 2%;
	border: none;
	font-size: 16px;
}

.add-task-button {
	border: none;
	padding: 2.56%;
	background: none;
	background-color: white;
	color: #29b6f6;
	font-size: 16px;
	font-weight: 600;
}

.display-list {
	margin: 4% 14.5% 0;
	background-color: white;
	width: 59%;
	list-style: none;
	padding: 4% 6% 8%;
}

.hide {
	display: none
}