body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff0000ab;
  /*background-color: linear-gradient(#ff6161,#ff768c);*/
  /*height: 100%;*/
  /*background-image: linear-gradient(#ff6161,#ff768c);
  background-repeat: no-repeat;*/
 /* font-family: sans-serif;
  color: #0f222d;
  background-size: auto;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
